**/node_modules
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# expo
**/.expo/*
**/expo-env.d.ts

# next.js
**/.next/*
/out/

# tamagui
**/.tamagui/*
**/public/tamagui.css

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.bun-debug.log*

# local env files
**.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# os
.DS_Store
THUMBS_DB
thumbs.db

# ui

dist/
.DS_Store
THUMBS_DB
node_modules/
types/

# Cloudflare D1
**/.wrangler/*
**/.dev.vars
.turbo

# Expo
apps/expo/ios/**
apps/expo/android/**

# Expo Builds
**/*.apk
**/*.aab
**/*.ipa

# PWA
**/sw.js
**/workbox-*.js
**/fallback-*.js
**/service-worker.js
