# Expo doesn't play nice with bun by default. 
# The symbolic links of bun break the rules of Expo monorepos.
# @link https://docs.expo.dev/guides/monorepos/#common-issues
node-linker=hoisted

# Prevent bun from adding the "workspace:"" prefix to local
# packages as it causes issues with manypkg
# @link https://bun.io/npmrc#prefer-workspace-packages
save-workspace-protocol=false
prefer-workspace-packages=true