.titlebar {
  height: 30px;
  background: rgb(23, 23, 23);
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.titlebar-nav {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: #cfcfcf;
  cursor: pointer;
}

.titlebar-button:hover {
  background: #979797;
}

.titlebar-button-disabled {
  background: #979797;
}

html::-webkit-scrollbar {
  display: none;
}

#__next span:first-child {
  margin-top: 0px;
}

#__next {
  margin-top: 30px;
}
